.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}


.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    
}
.cart-container{
    background-color: #FFE0B3;
}